@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
  min-height: 100vh;
  font-family: Anton;
  color: #1B1B1B;
}

.main-container, main {
  max-width: 1440px !important;
  margin: 0 auto;
}

.recipe {
  min-height: 100vh;
}

/* Stylisation de l'ellipsis */
.ellipsis {
  overflow: hidden; /* Cache le contenu débordant */
  text-overflow: ellipsis; /* Ajoute l'ellipsis (...) à la fin du texte */
  white-space: nowrap; /* Empêche le texte de se répartir sur plusieurs lignes */
}

header {
  background-image: url(../../../assets/images/background-header.png);
  height: 667px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
header h1 {
  position: absolute;
  top: 35px;
  left: 69px;
}
header h2 {
  color: #ffd15b;
  font-family: Anton;
  font-size: clamp(24px, 4vw, 44px);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
header .wrapper-header {
  max-width: 890px;
  height: 100%;
}
header .input {
  position: relative;
  display: flex;
  height: 72px;
  /* Masquer le placeholder au clic */
}
header .input :focus::placeholder {
  color: transparent;
}
header .input .form-control[placeholder] {
  padding-left: 32px;
  color: #C6C6C6;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .input span#logo-research {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 12px;
  z-index: 100;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}
header .input span#logo-research img {
  width: 27px !important;
  height: 28px !important;
}

@media screen and (max-width: 992px) {
  header {
    height: 460px;
  }
  header h1 {
    padding: 20px;
    top: 25px;
    left: 19px;
  }
  header h2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  header .input {
    margin-left: 30px;
    margin-right: 30px;
  }
  .filtrerecipes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter-bar {
    flex-wrap: wrap;
  }
  .filter-right {
    margin: 0 auto;
    padding-top: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 300px;
  }
  header h1 {
    top: 15px !important;
    left: 10px !important;
  }
  header h2 {
    margin-top: 40px;
    font-size: 20px;
  }
  header input.form-control.search {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 50px;
  }
  .filter-bar {
    margin-bottom: 20px;
  }
}
main {
  background: #EDEDED !important;
  padding: 20px 100px 201px;
}

@media screen and (max-width: 992px) {
  main {
    padding: 20px 50px 100px;
  }
  .recipe {
    margin: 0 auto;
  }
}
.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-filter {
  display: none;
}

.li-item {
  background-color: #ffd15b;
  padding-bottom: 30px;
  position: relative;
}
.li-item span img {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.selected-filter.active {
  display: block;
  margin-bottom: 25px;
  background-color: #ffd15b;
}

.selectedFilters ul, .selectedFiltersFromSearch ul {
  margin-top: 21px;
  padding-bottom: 43px;
  display: none;
}
.selectedFilters ul li, .selectedFiltersFromSearch ul li {
  display: inline-flex;
  padding: 17px 18px;
  align-items: center;
  gap: 60px;
  border-radius: 10px;
  background: #ffd15b;
}
.selectedFilters ul .active, .selectedFiltersFromSearch ul .active {
  display: block;
}

.selectedFilters ul.active, .selectedFiltersFromSearch ul {
  display: block;
}

.filter-bar.selectedFilters.active {
  margin-bottom: unset;
}

.btn-filter {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}
.btn-filter span {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

.filter {
  position: relative;
}
.filter img.fleche {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.filter a {
  padding-right: 63px;
}

.bg-dark {
  background-color: #1B1B1B;
}

.dropdown-menu.show {
  max-width: inherit;
}

.toggle {
  font-size: 16px;
  text-align: center;
  display: inline-flex;
  padding: 17px 0;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
  border: none;
  max-width: 195px;
  padding-left: 20px;
}

.filter-bar {
  margin-bottom: 55px;
}

.filter {
  color: #1B1B1B;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filter-left .filtrerecipes {
  gap: 64px;
}
.filter-left .dropdown {
  width: 195px !important;
}
.filter-left .dropdown-toggle {
  width: 100%;
}
.filter-left input {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  height: 36px;
  width: 163px;
  border-color: #C6C6C6;
  outline: none;
}
.filter-left ul {
  padding-left: unset;
}
.filter-left .filter-list-item {
  cursor: grab;
  overflow-y: scroll;
  height: 260px;
  scrollbar-width: none;
}
.filter-left .filter-list-item:hover {
  scrollbar-width: unset;
}
.filter-left li {
  list-style-type: none;
  margin-top: 13px;
  margin-bottom: 13px;
  cursor: pointer;
  padding: 9px 16px;
}
.filter-left li:hover {
  background-color: #ffd15b;
}
.filter-left .dropdown-menu {
  border-radius: 11px;
  position: relative;
}
.filter-left .dropdown-menu .filterListItems {
  height: 100%;
  overflow-y: auto;
}
.filter-left .dropdown-menu button {
  border: none;
}
.filter-left .dropdown-menu button img {
  position: absolute;
  top: 15px;
  right: 20px;
}

.filter-right p {
  font-family: Anton;
  text-transform: capitalize;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

article.card:hover {
  z-index: 100;
}

.card {
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  max-width: 380px;
}
.card .card-wrapper {
  margin: 32px 25px 61px;
}
.card .card-header-title {
  font-size: 18px;
}
.card .card-title {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.card .card-text {
  color: #1B1B1B;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
  height: 76px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.card .card-footer {
  height: 180px;
  overflow: hidden;
}
.card .card-text:hover {
  scrollbar-width: unset;
  cursor: grab;
}
.card .d-flex .row {
  width: 150px; /* Espace entre les colonnes */
}
.card .d-flex h4 {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card .d-flex p {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card img.card-img-top {
  border-radius: 21px 21px 0 0;
  height: 253px;
  object-fit: cover;
}

.time {
  position: absolute;
  right: 20px;
  top: 21px;
  padding: 5px 15px;
  border-radius: 14px;
  background-color: #ffd15b;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  .card-footer:hover {
    overflow-y: scroll;
  }
}
header {
  background-image: url(../../../assets/images/background-header.png);
  height: 667px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
header h1 {
  position: absolute;
  top: 35px;
  left: 69px;
}
header h2 {
  color: #ffd15b;
  font-family: Anton;
  font-size: clamp(24px, 4vw, 44px);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
header .wrapper-header {
  max-width: 890px;
  height: 100%;
}
header .input {
  position: relative;
  display: flex;
  height: 72px;
  /* Masquer le placeholder au clic */
}
header .input :focus::placeholder {
  color: transparent;
}
header .input .form-control[placeholder] {
  padding-left: 32px;
  color: #C6C6C6;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .input span#logo-research {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 12px;
  z-index: 100;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}
header .input span#logo-research img {
  width: 27px !important;
  height: 28px !important;
}

@media screen and (max-width: 992px) {
  header {
    height: 460px;
  }
  header h1 {
    padding: 20px;
    top: 25px;
    left: 19px;
  }
  header h2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  header .input {
    margin-left: 30px;
    margin-right: 30px;
  }
  .filtrerecipes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter-bar {
    flex-wrap: wrap;
  }
  .filter-right {
    margin: 0 auto;
    padding-top: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 300px;
  }
  header h1 {
    top: 15px !important;
    left: 10px !important;
  }
  header h2 {
    margin-top: 40px;
    font-size: 20px;
  }
  header input.form-control.search {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 50px;
  }
  .filter-bar {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
