.card {
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  // width: 380px;
  .card-wrapper{
    margin: 32px 25px 61px;
  }
  .card-title {
    color: var(--Grey, #7a7a7a);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .card-text {
    color: $color-secondary;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
    height: 76px;
    overflow: hidden;
  }
  .d-flex {
    h4 {
      color: var(--Black, #1b1b1b);
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p {
      color: var(--Grey, #7a7a7a);
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  img.card-img-top {
    border-radius: 21px 21px 0 0;
    max-height: 253px;
    object-fit: cover;
  }
}

// test
.card{
  position: relative;
  .d-flex .row {
    width: 150px; /* Espace entre les colonnes */
   }
   .ingredients {
    height: 170px;
    overflow: hidden;
   }
}

.time{
  position: absolute;
  right: 20px;
  top: 21px;
  padding: 5px 15px;
  border-radius: 14px;
  background-color: $color-yellow;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
}