.select-box {
  @include flex($display: flex, $justify: space-between, $align: center);
}

.selected-filter {
  display: none;
}
.li-item{
  background-color: $color-yellow;
  padding-bottom: 30px;
  position: relative;
  span img{
    cursor:pointer;
    position: absolute;
    right: 10px;

  }
}
.selected-filter.active {
  display: block;
  margin-bottom: 25px;
  background-color: $color-yellow;
}
.selectedFilters ul {
  margin-top: 21px;
  padding-bottom: 43px;
  display: none;
  li {
    display: inline-flex;
    padding: 17px 18px;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: $color-yellow;
  }
  .active {
    display: block;
  }
}

.selectedFilters ul.active {
  display: block;
}
.filter-bar.selectedFilters.active {
  margin-bottom: unset;
}
.btn-filter {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
  span{
    cursor: pointer;
  }
}
.dropdown-toggle::after {
  display: none;
}
.filter {
  position: relative;

  img.fleche {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
  a {
    padding-right: 63px;
  }
}
.bg-dark {
  background-color: $color-secondary;
}

// bootstrap overide

.dropdown-menu.show {
  max-width: inherit;
}
.toggle {
  text-align: center;
  display: inline-flex;
  padding: 17px 0;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
  border: none;
  max-width: 195px;
  padding-left: 20px;
}

.filter-bar {
  margin-bottom: 55px;
}

.filter {
  color: $color-secondary;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filter-left {
  .filtrerecipes {
    gap: 64px;
  }
  .dropdown {
    width: 195px !important;
  }
  .dropdown-toggle {
    width: 100%;
  }
  input {
    margin-left: 16px;
    margin-right: 16px;
    height: 36px;
    width: 163px;
    border-color: $color-lightgrey;
    outline: none;
  }
  ul{
    padding-left: unset;
  }
  .filter-list-item{
    
    overflow-y: scroll;
    height: 260px;
    scrollbar-width: none;
  }
  li {
    list-style-type: none;
    margin-top: 13px;
    margin-bottom: 13px;
    cursor: pointer;
    padding: 9px 16px;
  }
  li:hover {
    background-color: $color-yellow;
  }

  .dropdown-menu {
    border-radius: 11px;
    position: relative;
    // height: 315px;
    // overflow: hidden;


    .filterListItems{
      height: 100%;
      overflow-y: auto;
    }
    button {
      border: none;
    }
    button img {
      position: absolute;
      top: 25px;
      right: 20px;
    }
  }
}

.filter-right p {
  font-family: Anton;
  text-transform: capitalize;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
