.custom-search-bar {
 
  height: 72px;
  margin: 0 auto; /* Centers the search bar horizontally */
  .input-group-text {
    background: $color-secondary !important;
  }
  #logo-research > span{
    border-radius: 10px!important;
    padding: 12px!important;
  }
  
}
.form-control[placeholder]{
  color: $color-lightgrey;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Masquer le placeholder au clic */
input:focus::placeholder {
  color: transparent;
}
.input-group img{
  cursor: pointer;
}